button 
{
    width: 300px;
    height: 30px;
    background-color: #606060;
    padding-left: 10px;
}

button:hover
{
    background-color: #707070;
}

button:checked
{
    background-color: #707090;
}

.element {
    width: 50px;
    height: 50px;
    background-color: #643232;
    border-color: black;
}

.subelement {
    width: 25px;
    height: 25px;
    background-color: #386432;
}

/*

.first 
{
    background-color: blue;
}

.first:hover 
{
    width: 150px;
    background-color: #00ff00;
    transition: width 2.0 0.0;
    transition: background-color 2.0 0.0;
}

.second 
{
    background-color: #ff0000;
    opacity: 0.5;
}

.third {
    width: 25px;
    height: 25px;
    background-color: #00ff00;
} */