

.load {
    width: 200px;
    height: 50px;
    background-color: grey;
}
.view {
    width: 200px;
    height: 50px;
    background-color: red;
}

.outer {
    width: 300px;
    /* height: 300px; */
    background-color: #912828;
    border-width: 5;
    border-color: blue;
    flex-direction: column;
}

.inner {
    height: 30px;
    width: 200px;
    background-color: green;
    /* flex-grow: 1.0; */
}

hbox {
    background-color: green;
    height: 30px;
}


/* button {
    height: 30px;
    flex-grow: 1.0;
    color: black;
    background-color: white;
} */

label {
    flex-grow: 1.0;
    height: 30px;
    color: black;
    background-color: white;
}

.innerinner {
    /* opacity: 1.0; */
    flex-grow: 1.0;
    background-color: yellow;
    margin: 10px;
}
