
.outer {
    /* left: 10px; */
    /* top: 10px; */
    width: 100px;
    /* height: 100px; */
    /* margin: 10px; */
    /* padding: 10px; */

    /* height: 300px; */
    background-color: #912828;
    border-width: 10px;
    border-color: blue;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.inner {
    width: 50px;
    height: 50px;
    /* flex-grow: 1.0; */
    /* flex-shrink: 1.0; */
    background-color: green;
    /* margin: 10px; */
    /* padding: 10px; */
    /* border-width: 10px; */
    border-color: black;
    flex-direction: row;
    /* flex-grow: 1.0; */
}

.inner2 {
    height: 100px;
    flex-grow: 1.0;
    width: 100px;
    background-color: #37376d;
    /* flex-grow: 1.0; */
}

hbox {
    background-color: green;
    height: 30px;
}


button {
    height: 30px;
    flex-grow: 1.0;
    color: black;
    background-color: white;
} 

label {
    flex-grow: 1.0;
    height: 30px;
    color: black;
    background-color: white;
}

.innerinner {
    flex-grow: 1.0;
    background-color: yellow;
    margin: 10px;
} 
