
.calculator {
    flex-grow: 1.0;
}

.container {
    flex-grow: 1.0;
    background-color: #363636;
}


.display {
    text-justify: end;
    font-size: 60.0;
    color: #FFFFFF;
    background-color: #363636;
    background-color: #363636;
    border-width: 1px;
    padding-right: 10px;
    flex-grow: 1.0;
}

.display:focus {
    border-color: yellow;
    border-width: 1px;
}


button {
    text-justify: center;
    font-size: 40.0;
    color: white;
    border-width: 1px;
}

hbox {
    margin-bottom: 1px;
    flex-grow: 1.0;
}

hbox.last {
    margin-bottom: 0px;
}

button.digit {
    margin-right: 1px;
    background-color: #adadad;
    border-color: #adadad;
    flex-grow: 1.0;
}

button.digit.zero {
    flex-basis: 3px;
    flex-grow: 2.0;
}

button.digit:hover {
    background-color: #c7c7c7;
    border-color: #c7c7c7;
}

button.digit:active {
    background-color: #8f8f8f;
    border-color: #8f8f8f;
}

button.digit:focus {
    border-color:yellow;
    border-width: 1px;
}

button.operator {
    /* margin-right: 1px; */
    background-color: #ff7b00;
    border-color: #ff7b00;
    flex-grow: 1.0;
}

button.operator:focus {
    border-color:yellow;
    border-width: 1px;
}

button.operator:hover {
    background-color: #ff8f26;
}

button.operator:active {
    background-color: #c45f00;
}