
.calculator {
    background-color: red;
    flex-grow: 1.0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1.0;
    background-color: #363636;
}


.display {
    text-justify: end;
    font-size: 70.0;
    color: #FFFFFF;
    background-color: #363636;
    padding-right: 10px;
    flex-grow: 1.0;
}

.display:focus {
    border-color: yellow;
    border-width: 1px;
}


button {
    text-justify: center;
    font-size: 50.0;
    color: white;
}

button.row {
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
    flex-grow: 1.0;
}

button.last_row {
    display: flex;
    flex-direction: row;
    flex-grow: 1.0;
}

button.digit {
    margin-right: 1px;
    background-color: #adadad;
    flex-grow: 1.0;
}


button.digit:focus {
    border-color:yellow;
    border-width: 1px;
}

button.digit:hover {
    background-color: #c7c7c7;
}

button.digit:active {
    background-color: #8f8f8f;
}

button.operator {
    /* margin-right: 1px; */
    background-color: #ff7b00;
    flex-grow: 1.0;
}

button.operator:focus {
    border-color:yellow;
    border-width: 1px;
}

button.operator:hover {
    background-color: #ff8f26;
}

button.operator:active {
    background-color: #c45f00;
}