
.calculator {
    flex-grow: 1.0;
    background-color: #363636;
}

.display {
    child-left: 1s;
    font-size: 60.0;
    color: #FFFFFF;
    background-color: #363636;
    child-right: 10px;
    child-top: 1s;
    child-bottom: 1s;
}

.display:focus {
    border-color: yellow;
    border-width: 1px;
}


button {
    child-space: 1s;
    font-size: 40.0;
    color: white;
}

button:focus {
    border-color:yellow;
    border-width: 1px;
}

button.digit {
    background-color: #adadad;
}

button.digit:hover {
    background-color: #c7c7c7;
}

button.digit:active {
    background-color: #8f8f8f;
}

button.operator {
    background-color: #ff7b00;
}

button.operator:hover {
    background-color: #ff8f26;
}

button.operator:active {
    background-color: #c45f00;
}