button {
    font-size: 16px;
    child-space: 1s;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

button.increment {
    background-color: #326432;
}

button.increment:hover {
    background-color: #3c773c;
}

button.decrement {
    background-color: #323e64;
}

button.decrement:hover {
    background-color: #3c4a77;
}

label {
    border-color: black;
    border-width: 1px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    child-space: 1s;
    child-left: 5px;
}

counter {
    layout-type: row;
    child-between: 1s;
    width: 1s;
    child-space: 1s;
}