
menu_bar {
    height: 30px;
    background-color: blue;
}

menu {
    background-color: #262626;
    color: #e4e4e4;
}

menu>.container {
    /* background-color: #262626; */
    /* opacity: 0.0; */
    width: 200px;
    top: 100%;
    /* display: none; */
}

.submenu>.container {
    opacity: 0.0;
    transition: opacity 0.1 1.0;
}

.submenu:checked>.container {
    opacity: 1.0;
    transition: opacity 0.1 0.3;
}

menu:hover {
    color: #ffffff;
}

menu:checked {
    background-color: #383838;
    color: #ffffff;
}

menu .item {
    background-color: #383838;
    height: 30px;
    child-left: 5px;
    color: #e4e4e4;
}

menu .item:hover {
    background-color: #494949;
    transition: background-color 0.1 0.0;
}

.spacer {
    /* background-color: #262626; */
    height: 20px;
    display: flex;
    flex-direction: column;
}

.spacer1 {
    background-color: #383838;
    bottom: 1px;
    height: 10px;
}

.spacer2 {
    background-color: #383838;
    height: 10px;
}