
menu {
    background-color: #262626;
    color: #e4e4e4;
}

menu>.container {
    background-color: #262626;
    width: 200px;
    display: none;
}

menu:checked>.container {
    display: flex;
    flex-direction: column;
}

/* menu > .container:over {
    display: flex;
    flex-direction: column;
} */

menu:hover {
    color: #ffffff;
}

menu:checked {
    background-color: #383838;
    color: #ffffff;
}

.item {
    background-color: #383838;
    flex-basis: 30px;
    padding-left: 5px;
    color: #e4e4e4;
}

.item:hover {
    background-color: #494949;
}

.spacer {
    background-color: #262626;
    flex-basis: 20px;
    display: flex;
    flex-direction: column;
}

.spacer1 {
    background-color: #383838;
    margin-bottom: 1px;
    flex-basis: 10px;
}

.spacer2 {
    background-color: #383838;
    flex-basis: 10px;
}