

tabs {
    width: 300px;
    flex-grow: 1.0;
}

tab_bar {
    background-color: #202020;
    flex-basis: 30px;
}

tab_bar>tab {
    background-color: #2e2e2e;
    margin-right: 1px;
    margin-bottom: 1px;
    flex-basis: 80px;
    text-justify: center;
}

tab_bar>tab:checked {
    margin-bottom: 0px;
    background-color: #383838;
}

.first {
    flex-grow: 1.0;
    align-items: center;
}

.second {
    flex-grow: 1.0;
    align-items: center;
}

tabs>.container {
    background-color: #383838;
    height: 100%;
}

.test {
    width: 200px;
    height: 30px;
    background-color: #646464;
    border-radius: 3px;
    text-justify: center;
    margin: 10px;
}

dropdown {
    background-color: #383838;
    height: 30px;
    color: black;
    border-width: 1px;
    border-color: black;
    border-radius: 3;
    text-justify: center;
}

dropdown label {
    color: black;
    text-justify: center;
}

dropdown .icon {
    text-justify: center;
    color: #ff5e1a;
    width: 30px;
}

dropdown>.container {
    top: 100%;
    width: 100%;
    margin-top: 5px;
    background-color: white;
    border-color: black;
    border-width: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 128);
}

dropdown>.container .item {
    height: 30px;
    color: black;
    padding-left: 10px;
    background-color: white;
    transition: background-color 0.1 0.0;
}

dropdown>.container .item:hover {
    height: 30px;
    color: white;
    background-color: #ff5e1a;
    transition: background-color 0.1 0.0;
}
