

/* SCROLL CONTAINER */

scroll_container {
    height: 1s;
    background-color: #262626;
}

scroll_container>.container {
    width: 1s;
    left: 10px;
    right: 0px;
}

scroll_container>.scrollbar {
    background-color: #464646;
    /* background-color: #6a57be; */
    width: 10px;
}

scroll_container:enabled>.scrollbar {
    width: 10px;
    transition: width 0.1 0.0;
}

scroll_container:enabled>.container {
    left: 10px;
    transition: left 0.1 0.0;
}

scroll_container:disabled>.scrollbar {
    width: 0px;
    transition: width 0.1 0.0;
}

scroll_container:disabled>.container {
    left: 0px;
    transition: left 0.1 0.0;
}



.container {
    background-color: #383838;
}

panel>.header {
    height: 30px;
    background-color: #383838;
    flex-direction: row;
    child-left: 5px;
}

panel.level1>.header {
    background-color: #383838;
    /* padding-left: 15px; */
    child-left: 15px;
}

panel.level2>.header {
    background-color: #383838;
    /* padding-left: 30px; */
    child-left: 30px;
}

panel.level3>.header {
    background-color: #383838;
    /* padding-left: 45px; */
    child-left: 45px;
}

panel>.header:hover {
    background-color: #424242;
}

panel>.container {
    background-color: #383838;
    /* padding-left: 15px; */
    child-left: 15px;
}

label {
    height: 30px;
    padding-left: 5px;
}

label.level1 {
    padding-left: 50px;
}

label.level2 {
    padding-left: 65px;
}

label.level3 {
    padding-left: 80px;
}

label.level4 {
    padding-left: 95px;
}

label:hover {
    background-color: #424242;
}