

/* SCROLL CONTAINER */

scroll_container {
    /* width: 100%;
    height: 100%; */
    flex-grow: 1.0;
    background-color: #262626;
    flex-direction: row;
    /* background-color: #3bb42b; */
}

scroll_container>.container {
    /* align-self: flex-start; */
    /* width: 95%; */
    left: 10px;
    right: 0px;
    /* background-color: #b42b2b; */
}

scroll_container>.scrollbar {
    background-color: #464646;
    /* background-color: #6a57be; */
    width: 10px;
}

/* scroll_container>.scrollbar:enabled {
    width: 10px;
    transition: width 0.1 0.0;
}

scroll_container>.scrollbar:disabled {
    width: 0px;
    transition: width 0.1 0.0;
} */



.container {
    background-color: #383838;
    /* background-color: #4c4797; */
}

panel>.header {
    height: 30px;
    background-color: #383838;
    flex-direction: row;
}

panel.level1>.header {
    background-color: #383838;
    padding-left: 15px;
}

panel.level2>.header {
    background-color: #383838;
    padding-left: 30px;
}

panel.level3>.header {
    background-color: #383838;
    padding-left: 45px;
}

panel>.header:hover {
    background-color: #424242;
}

panel>.container {
    background-color: #383838;
    /* padding-left: 15px; */
}

label {
    height: 30px;
    padding-left: 5px;
}

label.level1 {
    padding-left: 35px;
}

label.level2 {
    padding-left: 50px;
}

label.level3 {
    padding-left: 65px;
}

label.level4 {
    padding-left: 80px;
}

label:hover {
    background-color: #424242;
}