

slider.custom1 {
    height: 20px;
    border-radius: 3px;
}

slider.custom1>.thumb {
    border-radius: 3px;
    width: 20px;
    height: 26px;
    border-width: 1px;
    border-color: black;
}

slider.custom1>.active {
    background-color: #f74c00;
    border-radius: 2px;
}

slider.custom2 {
    height: 30px;
    border-radius: 3px;
}

slider.custom2>.thumb {
    display: none;
}