
checkbox {
    left: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
}

checkbox:checked {
    background-color: #3669c9;
    border-color: #3669c9;
    color: white;
}

switch {
    left: 20px;
    top: 20px;
    width: 36px;
    height: 20px;
    background-color: #646464;
    flex-direction: row;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    transition: background-color 0.2 0.0;
    border-radius: 9px;
}

switch>.front {
    left: 0%;
    flex-grow: 0.5;
    background-color: white;
    transition: left 0.2 0.0;
    border-radius: 7;
}

switch:checked>.front {
    left: 50%;
    transition: left 0.2 0.0;
}

switch:checked {
    background-color: #3669c9;
    transition: background-color 0.2 0.0;
}


knob {
    background-color: #2e2e2e;
}

knob>.back {
    background-color: #505050;
}

knob>.slider {
    background-color: #3669c9;
}

knob>.tick {
    background-color: #c8c8c8;
}

textbox {
    background-color: #2e2e2e;
    /* text-justify: center; */
    padding-left: 5px;
}

value_knob {
    left: 50px;
    top: 50px;
}