


button {
    color: white;
    background-color: #ff5e1a;
    border-radius: 3px;
    text-justify: center;
}

button:hover {
    background-color: #ff7033;
}

/* .menu_bar {
    background-color: #646464;
} */

panel>.container1>.container2>hbox {
    padding: 10px;
    align-items: center;
    /* background-color: #ffffff; */
}

panel>.container1 {
    background-color: #ffffff;
}

panel>.header {
    background-color: #ff5e1a;
    height: 30px;
}

panel .container2>hbox>label {
    height: 30px;
    width: 120px;
    color: black;
    padding-left: 5px;
}



checkbox {
    width: 20px;
    height: 20px;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    transition: background-color 0.1 0.0;
}

checkbox:checked {
    background-color: #ff5e1a;
    border-color: #ff5e1a;
    color: white;
    transition: background-color 0.1 0.0;
}


switch {
    width: 36px;
    height: 20px;
    background-color: #646464;
    flex-direction: row;
    padding: 2px;
    /* padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2.5px;
    padding-right: 2.5px; */
    transition: background-color 0.1 0.0;
    border-radius: 9.5px;
}

switch>.front {
    left: 0%;
    width: 50%;
    background-color: white;
    transition: left 0.1 0.0;
    border-radius: 7.5px;
}


switch:checked>.front {
    left: 50%;
    transition: left 0.1 0.0;
}

switch:checked {
    background-color: #ff5e1a;
    transition: background-color 0.1 0.0;
}

spinner {
    height: 30px;
    flex-grow: 1.0;
}

spinner .increment {
    color: #ff5e1a;
    text-justify: center;
}

spinner .decrement {
    color: #ff5e1a;
    text-justify: center;
}

spinner>textbox {
    color: black;
    border-width: 1px;
    border-color: black;
    border-top-left-radius: 3;
    border-bottom-left-radius: 3;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* margin: 0px;
    margin-right: -1; */
    text-align: center;
    text-justify: center;
    /* height: 28px; */
    /* width: 78px; */
}

spinner>.arrow_container {
    border-width: 1px;
    border-color: black;
    /* border-top-right-radius: 3;
    border-bottom-right-radius: 3; */
}

textbox {
    flex-grow: 1.0;
    height: 30px;
    color: black;
    border-width: 1px;
    border-color: black;
    border-radius: 3;
    text-justify: center;
}

dropdown {
    /* background-color: red; */
    flex-grow: 1.0;
    height: 30px;
    color: black;
    border-width: 1px;
    border-color: black;
    border-radius: 3;
    text-justify: center;
}

dropdown label {
    color: black;
    text-justify: center;
}

dropdown .icon {
    text-justify: center;
    color: #ff5e1a;
    width: 20px;
}

dropdown>.container {
    top: 100%;
    background-color: white;
    border-color: black;
    border-width: 10px;
}

dropdown>.container>.item {
    height: 30px;
    width: 100px;
    color: black;
    padding-left: 10px;
    background-color: white;
    transition: background-color 0.1 0.0;
}

dropdown>.container>.item:hover {
    height: 30px;
    width: 100px;
    color: white;
    background-color: #ff5e1a;
    transition: background-color 0.1 0.0;
}

slider {
    width: 100px;
    height: 4px;
    border-radius: 2px;
    background-color: #646464;
}

slider>.active {
    background-color: #f74c00;
    border-radius: 2px;
}

slider>.thumb {
    background-color:#ff5e1a;
    border-radius: 9.5px;
}

radio {
    border-color: black;
    border-width: 1px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

radio>.marker {
    background-color: #ff5e1a;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

radio>.marker {
    visibility: hidden;
    display: none;
}

radio:checked {
    border-color: #ff5e1a;
}

radio:checked>.marker {
    visibility: visible;
    display: flex;
}

radio_button {
    background-color: #646464;
    height: 30px;
    color: white;
    border-width: 0px;
    border-radius: 0px;
    flex-grow: 1.0;
    text-justify: center;
    margin-right: 1px;
}

radio_button:checked {
    background-color: #ff5e1a;
    color: white;
}

radio_button.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

radio_button.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 0px;
}

tooltip {
    left: 105%;
    width: 100px;
    height: 20px;
    color: black;
    background-color: white;
    border-color: black;
    padding-left: 5px;
    border-width: 1px;
    opacity: 0.0;
}

button:hover>tooltip {
    opacity: 1.0;
    transition: opacity 0.1 0.5;
}